h1{
color: rebeccapurple;
}

p{
color: royalblue;
}

.input{
color: slateblue;
background-color: rgb(123, 192, 185);
box-shadow: violet;
border: none;
border-style: groove;
}

.liste{

}

.listenelement{

}

.done{

}

.trashbutton{

}

.kreis{

}

.abgehakt{
    
}