body {
    background-color: rgb(189, 129, 201);
    position: absolute;
    color: rgb(10, 10, 10);
    font-family:fantasy;
    width: 400px;
    left: 200px;
}

h1 {
    position: absolute;
    font-size: 50px;
    left: 150px;
    top: 50px;
    font-weight: lighter;
    color: rgb(77, 32, 83);
}

h2 {
    position: absolute;
    font-size: 22px;
    font-weight: lighter;
    color: rebeccapurple;
    left: 200px;
    top: 0px;
    
}

input {
    background-color: rgb(165, 77, 187);
    position: relative;
    font-size: 35px;
    color: black;
    top: 200px;
    left: 100px;
}

.input {
    background-color: rgb(165, 77, 187);
    position: relative;
    font-size: 35px;
    color: black;
    top: 200px;
    left: 100px;
    
   
}



.fa-plus{
    position: relative;
    font-size: 35px;
    color: rgb(67, 43, 83);
    background-color: rgb(210, 130, 226);
    left: 500px;
    top: 160px;
  
}

.check {
    position: absolute;
    font-size: 20px;
    border-radius: 150px;
    border-width: 2px;
    border-color: #aaa;
    color: white;
    background-color: white;
    opacity: 100%;
}

.trash {
    position: absolute;
    top: 25px;
    left: 750px;
    font-size: 35px;
    border: none;
    color: rgb(69, 18, 73);
    background-color: white;
}


.abgehakt {
    color: #333;
}




.todo{

}

.liste{
    position: relative;
    top: 80px;
    left: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(106, 42, 165);
}

