body{
    background-image: url(../station5/images/bg.png);
}

.blau{
    margin-top: 100px;
    margin-left: 90px;
}

.form{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -380px;
    margin-left: 130px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 130px;
}

.box{
    border: 0mm;
    margin-left: 130px;
}



.ja{
    color: white;
    margin-top: -19px;
    margin-left: 32px;
}

#nein{
    margin-bottom: 0px;
    margin-left: 5px;
}