body{
    background-image: url(../station5/images/bg.png);
}

.blau{
    margin-top: 100px;
    margin-left: 90px;
}

.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    margin-top: -340px;
    font-size: 3opx;
}